# PyInstaller build artifacts
/dist
/build

# Python cache
/__pycache__
*.pyc
*.pyo
*.pyd

# Virtual environment
/.venv
/venv
*.egg-info

# PyInstaller spec files
*.spec


.claude/
CLAUDE.md
.vscode/

# Developer specific files
*.log